.jano-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header {
    position: sticky;
    top: 0;
    border-bottom: 0.01rem solid white;
    background-color: black;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      .nav-left {
        gap: 1rem;
        display: flex;
        align-items: center;
      }
      .nav-right {
        display: flex;
        gap: 1rem;
      }
    }
  }
  main {
    height: 100%;
    overflow: scroll;
    .main-status {
      display: flex;
      justify-content: space-around;
      padding: 0.5rem;
      border-bottom: 0.01rem solid white;
      .main-status-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .main-status-profile {
          padding: 0.2rem;
          background: linear-gradient(to bottom, #0066ff 0%, #ff0066 100%);
          border-radius: 3.5rem;
          display: flex;
          img {
            height: 3rem;
            border-radius: 1.5rem;
          }
        }
        h2 {
          font-size: 0.7rem;
          font-weight: 300;
        }
      }
    }
    .main-post {
      display: flex;
      flex-direction: column;
      border-bottom: 0.01rem solid white;
      .main-post-header {
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        .main-post-header-left {
          display: flex;
          justify-content: space-around;
          gap: 0.5rem;
          img {
            height: 2rem;
            border-radius: 1rem;
          }
          h1 {
            font-weight: 500;
            font-size: 0.8rem;
          }
        }
      }
      .main-post-img {
        img {
          height: 15rem;
        }
      }
      .main-post-options {
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;
        svg {
          height: 1.5rem;
        }
        .main-post-options-left {
          display: flex;
          gap: 0.7rem;
          align-items: center;

          .main-post-options-left-likes {
            display: flex;
            gap: 0.7rem;
            align-items: center;
            h1 {
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
          .main-post-options-left-comments {
            display: flex;
            gap: 0.7rem;
            align-items: center;
            h1 {
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
        }
      }
      .main-post-timeline {
        padding: 0 0 0.5rem 0.5rem;
        span {
          font-size: 0.7rem;
        }
      }
    }
  }
}

.active {
  color: aqua;
}
